{% extends 'base.html' %}

{% block title %}Listview{% endblock %}

{% block content %}

  <h1 class="main_page_title">ListView</h1>
  <br><br>

  {% if data == "no_data" %}

  <div class="lv">

    <table id="listview_tabel">
      <thead>
        <tr>
          <th>Date</th>
          <th>Hours</th>
          <th>Category</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4"></td>
        </tr>
        <tr>
          <td colspan="4"><b> There is no data entry in llistview. </b></td>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
      </tbody>
    </table>

  </div>

  {% else %}

  <div class="lv">

    <table id="listview_tabel" >
      <thead>
        <tr>
          <th>Date</th>
          <th>Hours</th>
          <th>Category</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {%  for data in data %}
        <tr>
            <td>{{data.entry_date}}</td>
            <td>{{data.work_time|time:"H:i"}}</td>
            <td>{{data.category}}</td>
            <td>{{data.desc}}</td>
        </tr>
      {%  endfor %}
      </tbody>
    </table>

  </div>

  {% endif %}

{% endblock %}
